.container {
  padding: 0 2rem;
  background-color: black;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  color: white;
  font-family: 'Nunito';
}

.title p {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title p {
  margin: 0;
  line-height: 5rem;
}

.fromWord {
  color: #b11cb3;
  font-size: 5rem;
}
.breathWord {
  color: #2b7465;
  font-size: 8.1rem;
}
.toWord {
  color: #170893;
  font-size: 5rem;
}
.codeWord {
  color: #910100;
  font-size: 8.1rem;
}

.actionableBtnsContainer a {
  margin: 0 8px;
  padding: 6px 12px;
  font-family: 'Nunito';
  border: solid white 1px;
  border-radius: 4px;
  font-size: 1.6rem;
  cursor: pointer;
}

.actionableBtnsContainer a:hover {
  filter: brightness(77%);
}

.practiceBtn {
  background-color: white;
  color: black;
}

.learnMoreBtn {
  background-color: transparent;
  color: white;
}
